<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.weikun.A.Car" init-method="init" destroy-method="mydestroy">
        <property name="name" value="奔驰"/>
        <property name="age" value="10"/>
        <property name="price" value="50"/>
    </bean>

    <bean id="java" class="com.weikun.A.JavaTrad">
        <property name="teacher" ref="bill"/>


    </bean>
    <bean id="bill" class="com.weikun.A.Bill">
        <property name="name" value="Bill"/>
    </bean>


</beans>